<section>
    <mat-form-field>
        <mat-label>Column type</mat-label>
        <mat-select [(ngModel)]="type" id="type">
            <mat-option *ngFor="let option of options" [value]="option.value">
                {{option.description}}
            </mat-option>
        </mat-select>
    </mat-form-field>
    <mat-form-field *ngIf="type">
        <mat-label>Data series type</mat-label>
        <mat-select [(ngModel)]="dataSeriesType" id="dataSeriesType">
            <mat-option *ngFor="let option of seriesOptions" [value]="option.value">
                {{option.description}}
            </mat-option>
        </mat-select>
    </mat-form-field>
    <section *ngIf="dataSeriesType">
        <mat-form-field>
            <ngx-mat-file-input [(ngModel)]="file" (change)="upload($event)" placeholder="Upload file">
            </ngx-mat-file-input>
        </mat-form-field>
    </section>
    <button mat-stroked-button *ngIf="file" color="warn" (click)="clear()">Clear</button>
</section>